/* ==== Google FontImport - Popions ==== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
/*Font Eng*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700&display=swap');
/*Font thai*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700&family=Titan+One&display=swap');
/*Font hello*/

:root {
    --sidebgColoe: #D0F8CE;
    --thembar: #055007;
    --themColor: #FF914D;
    --iconbgColor: #202647;
    --textColor: #fff;
    --bgColor: #f7f7f7;
    --textbar: #5f5f5f;
    --bghoverbar: #A3E9A4;
    --bgheadlogo: rgb(107, 236, 120);
    --texthead: #c24f08;
    --boxhello: #f5f5dc;
}
body{
    background-color: var(--bgColor);
}

header{
    height: 100vh;
    width: 300px;
    padding: 15px 5px;     /*บนล่าง ซ้ายวา*/
    background-color: var(--sidebgColoe);
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
    box-shadow: 0 0 5px var(--thembar);
}

header nav{
    margin-top: 60px;
}
#MenuBtn{
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--bgheadlogo);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgbh(0, 0, 0, 20%);
    display: none;
    z-index: 999;
}

#MenuBtn:hover{
    background-color: var(--thembar);
}
main{
    margin-left: 300px;
    transition: 0.3s;
}
@media only screen and (max-width: 1050px){
    header{
        left: -300px;
    }
    #MenuBtn{
        display: block;
    }
}

/* =====Click MenuBtn sidebar movlie===== */
.movile-nav-active header{
    left: 0;
}

@media only screen and (max-width: 1050px) {
    main{
        margin-left: 0;
    }
}
#logo-head{
    height: 150px;
    width: 100%;
    background-color: var(--bgheadlogo);
    background-attachment: fixed;     /*ภาพพื้นหลังอยู่ในตำแหน่งเดิม (คงที่)*/
    display: flex;
    align-items: center; /* จัดให้อยู่กึ่งกลางในแนวตั้ง */
    justify-content: center; /* จัดให้อยู่กึ่งกลางในแนวนอน */
    justify-content: center;
    padding: 7px;
    position: relative;
}  
#logo-head::before{
    content: '';
    width: 100%;
    height: 150px;
    background-color: rgha(0, 0, 0, 0.431);
    position: absolute;
    top: 0;
    left: 0;
}
#logo-head .frame {
    display: flex;
    align-items: center;
    z-index: 1;
}
#logo-head .logo img{
    height: 100px;  
    margin-right: 20px; /* ระยะห่างระหว่างโลโก้และข้อความ */
}
#logo-head .namecenter  h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: -1px;
    color: black;
    text-align: start;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
#logo-head .namecenter h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px; /* ความหนาของเส้นใต้ */
    background-color: orange; /* สีของเส้นใต้ */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* เงาของเส้นใต้ */
}
#logo-head .namecenter h2{
    font-size: 20px;
    color: var(--texthead);
    box-shadow: #000;
    text-align:s end;
}
#logo-head .namecenter h3{
    font-size: 18px;
    color: black;
    text-align: end;
}
#logo-head .namecenter  h1, #logo-head .namecenter h2 , #logo-head .namecenter h3{
    font-family: "Prompt", sans-serif;    /*Thai*/
    margin-top: 1%;
    margin-bottom: 0px;
    letter-spacing: 0px;
}


#container{
    margin:0 auto;
    padding:  30px;
}

#container h1{
    margin: 20px 0 20px;
    font-family: "Prompt", sans-serif;    /*Thai*/
    font-size: 30px;
    text-align: center;
}
.title {
    display: flex;                   /* จัดเรียงภายใน div ให้อยู่ในแนวนอน */
    justify-content: center;
    align-items: center;             /* จัดให้ vertical-align center */
    margin-bottom: 20px;  
}

.title a {
    text-decoration: none; /* ลบเส้นใต้ */
    font-family: "Prompt", sans-serif; /* ตั้งค่า font */
    font-size: 10px; /* ขนาดตัวอักษร */
}
.title h2 {
    margin: 0; /* กำจัด margin เพื่อให้จัดวางแบบแนวนอนได้ดีขึ้น */
    font-size: 20px; /* ขนาดตัวอักษร */
}

.title a:first-child h2{ 
    color: #278fff; /* กำหนดสีฟอนต์สีน้ำเงินสำหรับลิงก์แรก */
}

.title a:last-child h2 {
    color: black; /* กำหนดสีฟอนต์สีดำสำหรับลิงก์ที่สอง */
}
.title a:last-child h2:hover {
    color: #278fff; 

}

.title h3 {
    margin: 0 10px; /* ระยะห่างระหว่างลิงก์และตัวแบ่ง */
}

.form-content {
    width: 700px; /* กำหนดความกว้าง 700px */
    margin: 0 auto; /* จัดกึ่งกลาง */
    font-family: "Prompt", sans-serif; /* กำหนดฟอนต์สำหรับข้อมูลทั้งหมดใน form-content */
    padding: 20px; /* เพิ่ม padding รอบ ๆ เนื้อหา */
    box-sizing: border-box; /* รวม padding เข้าในความกว้าง */
}

.form-content form {
    display: flex;
    flex-wrap: wrap; /* ทำให้ฟิลด์สามารถอยู่บรรทัดเดียวกันได้ */
    gap: 20px; /* เพิ่มช่องว่างระหว่างฟิลด์ */
    align-items: center; /* จัดตำแหน่งให้อยู่ตรงกลางในแนวนอน */
}

.detail-1,
.detail-2,
.detail-3,
.detail-4,
.detail-5 {
    display: flex;
    align-items: center; /* จัดแนวให้ label และ input อยู่กลางบรรทัดเดียวกัน */
    margin-bottom: 10px; /* เพิ่มระยะห่างระหว่างแถว */
}

.detail-1 label,
.detail-2 label,
.detail-3 label,
.detail-4 label,
.detail-5 label {
    width: 150px; /* กำหนดความกว้างของ label เพื่อจัดตำแหน่ง */
    margin-left: 50px; /* ระยะห่างด้านซ้าย 50px สำหรับทุก label */
    font-family: "Prompt", sans-serif; /* กำหนดฟอนต์ */
}

.detail-1 select,
.detail-2 input,
.detail-3 input,
.detail-4 select
.detail-5 select {
    height: 38px; /* กำหนดความสูง */
    font-family: "Prompt", sans-serif; /* กำหนดฟอนต์ */
    padding-left: 10px; /* ระยะห่างภายใน input */
    padding-right: 10px; /* ระยะห่างภายใน input */
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

button[type="submit"] {
    width: 100px; /* กำหนดความกว้างของปุ่ม */
    height: 45px;
    margin-top: 20px; /* ระยะห่างด้านบนของปุ่ม */
    align-self: center; /* จัดตำแหน่งปุ่มให้อยู่ตรงกลาง */
    font-family: "Prompt", sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #86c0fd;
}

button:hover {
    background-color: #007bff;
    color: #fff;
}





table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;             /* เพิ่ม border ให้กับ table */
    border-collapse: collapse;
    font-family: "Prompt", sans-serif;
}

th,
td {
    padding: 15px;
    border: 1px solid #ddd;     /* เพิ่ม border ให้กับ th และ td */
    text-align: center;
}

th {
    background-color: #278fff;
    color: #fff;
    font-family: "Prompt", sans-serif;    /*Thai*/
    font-size: 18px;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.button-container button{
    width: 65px;
    height: 35px;
    margin-top: 20px;
    font-family: "Prompt", sans-serif;   
    align-items: center;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    background-color: #bad9fb;
}

.button-container button:hover{
    background-color: #86c0fd; 
}

.button-edit{
    width: 65px;
    height: 35px;
    font-family: "Prompt", sans-serif; /* Thai */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fcfc89;
    margin-right: 5px; /* Spacing between Edit and Delete buttons */
}

.button-edit:hover {
    background-color: #FFD700;
}

.button-delete {
    width: 65px;
    height: 35px;
    margin-top: 10px;
    font-family: "Prompt", sans-serif; /* Thai */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(255, 165, 165);
}

.button-delete:hover {
    background-color: #d84c4c;
}

/* header and nav-bar */
ul {
    padding: 5px;
}

ul li {
    list-style: none;
}

ul li a:hover {
    color: #000;    /* เปลี่ยนสีข้อความเป็นสีดำเมื่อ hover */
    background-color: var(--bghoverbar);    /* ตัวอย่างการเปลี่ยนสีพื้นหลังเมื่อ hover */
}

ul li a {
    display: inline-block;
    text-decoration: none;      /*เส้นใต้*/
    padding: 15px 10px;
    margin: 7px 0;
    color: var(--textbar);
}

ul li a i {
    margin-right: 5px;
    font-size: 20px;
    transform: 0.4s;
}

ul li a .link-name {
    color: var(--textbar);
    font-weight: 400;
    font-size: 17px;
    font-family: "Prompt", sans-serif;
}

ul li a:hover i,
ul li a:hover .link-name {
    color: black;
}

.user {
    display: block;
    width: 260px;
    text-align: center;
    font-family: "Prompt", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 2px;
    color: green;
}

.user-link:hover .user {
    color: black;
}

/* ==== Mobile View==== */
@media only screen and (max-width: 670px) {
    #logo-head {
        padding: 30px;
    }
    #logo-head .frame .logo img {
        height: 80px;
    }
    #logo-head .namecenter  h1{
        font-size: 20px;
    }
    #logo-head .namecenter h1::after {
        content: '';
    }
    #logo-head .namecenter h2{
        font-size: 18px;
    }
    #logo-head .namecenter h3{
        font-size: 16px;
    }
}